name: Deploy react app to github pages

on:
  push:
    branches: ["main"]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

  steps:
    - name: checkout repository
      uses: actions/setup-node@v3

    - name: set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: "18"

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build

    - name: Deploy to Github Pages
      uses: JamesIves/github-pages-deploy-action@v5
      with:
        branch: gh-pages
        folder: dist
        token: ${{ Secrets.GITHUB_TOKEN}}
